:root{
    --main-radius: 5px;
    --main-padding: 5px;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .2fr 1.5fr 1.5fr;
    grid-template-areas:
        "navbar navbar navbar"
        "content1 content2 content3"
        "content4 content5 content6";
    font-family: arial, helvetica, sans-serif;
}
/* NavBar Round 2 */
.navbar {
    grid-area: navbar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    display: flex;
    align-items: center;
    padding: 20px 10%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(31, 215, 205);
    color: #f1f1f2;
    z-index: 1002;
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
     0 6px 6px rgba(0, 0, 0, 0.23);

}

.nav_links{
    margin: 0;
    padding: 0;
    display: flex;
}

.nav_links li{
    list-style: none;
}

.nav_links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display:block;

}

.nav_links li a {
    transition: all 0.3s ease 0s;
    padding: 7px;
    border-radius: 3px;

}

.nav_links li a:hover {
    color: #0088a9;
    background: #f1f1f2;

}

.toggle-button{
    position: absolute;
    top: 2.5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px
}


/* End Nav bar round 2 */
.card:hover{
    cursor: pointer;
    filter: grayscale(0%);
    /* transform: scale(1.05); */
    -webkit-transform: scale(1.035);
    -moz-transform: scale(1.035);
    -o-transform: scale(1.035);
    transform: scale(1.035);
    z-index: 1001;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.25rem #414042);
    }


.card{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    color: white;
    text-decoration: none;
    filter: grayscale(35%);
    transition: 1s;
}
.box-shadow{
    display: flex;
    width: 15rem;
    height: 10rem;
    color:#36454f;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    background: white;
    border-radius: 2vmax;
    text-decoration: none;
    padding: 3vh 2vh 5vh 2vh;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
}
.card_avatar{
    width: 150px;
    padding: 5px;
    }
.card_party{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding:3px;
    }
.card_leader{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

#content1 {
    background-color:#d71920;
    grid-area: content1;
   }

#content2 {
    background-color: orange;
    grid-area: content2;
}
#content3 {
    background-color: green;
    grid-area: content3;
}
#content4 {
    background-color: blue;
    grid-area: content4;
}
#content5 {
    background-color: purple;
    grid-area: content5;
}
#content6 {
    background-color: lightblue;
    grid-area: content6;
}

/* Adaptive Media  */

@media (max-width: 730px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: .4fr 2.2fr 2.2fr 2.2fr 2.2fr 2.2fr 2.2fr;
        grid-template-areas: 
        "navbar"
        "content1"
        "content2"
        "content3"
        "content4"
        "content5"
        "content6";        
    }
    .toggle-button {
        display: flex;
    }
    /* //<---Java */
    .nav_links{
        width: 100%;
        display: none;
        z-index: 1003;
    }
    /* //<---End Java */
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        
    }
    .navbar ul {
        padding: .75rem;
        width: 100%;
        flex-direction: column;
        
    }
    .nav_links li{
        text-align: center;
    }

    .nav_links.active{
        display: flex;
    }

}