:root {
    --main-radius: 5px;
    --main-padding: 5px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: .2fr 1fr;
    grid-template-rows: .2fr .2fr .4fr .4fr .4fr;
    grid-template-areas:
        "navbar navbar"
        "sidebar party_banner"
        "sidebar content1"
        "sidebar content2"
        "sidebar content3"
        "sidebar content4";
        
    font-family: arial, helvetica, sans-serif;
}

/* NavBar Round 2 */
.navbar {
    grid-area: navbar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    display: flex;
    align-items: center;
    padding: 20px 10%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(31, 215, 205);
    color: #f1f1f2;
    z-index: 1002;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);

}

.nav_links {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav_links li {
    list-style: none;
}

.nav_links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;

}

.nav_links li a {
    transition: all 0.3s ease 0s;
    padding: 7px;
    border-radius: 3px;

}

.nav_links li a:hover {
    color: #0088a9;
    background: #f1f1f2;

}

.toggle-button {
    position: absolute;
    top: 2.5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px
}

.box-shadow {
    display: flex;
    width: 15rem;
    height: 10rem;
    color: #36454f;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;
    border-radius: 2vmax;
    text-decoration: none;
    padding: 3vh 2vh 5vh 2vh;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
}

#sidebar{
    grid-area: sidebar;
    background-color: rgb(31, 215, 205);
    padding: 20px;
    color: white;
}

#sidebar li{
    list-style: none;
}
#sidebar ul li a{
    display: flex;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: white;
}

#sidebar ul li a:hover{
    color: #c2ced1;
    background: #f1f1f2;
    border-radius: 5px;
}

/* Content */
#content_wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
         0 6px 6px rgba(0, 0, 0, 0.23);
    
}

/* #party_banner{
    grid-area: party_banner;
    background-color: white;
    border-radius: 10px;
    max-width: 80%;
    height: 100px; 
    
} */
.party_banner{
    display: flex;
    max-height: 10em;
    width: auto;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 10px;
}

.content{
    display: flex;
    grid-area: content1;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
    padding: 20px;
    width: 95%;
   border-bottom:  solid rgba(0, 0, 0, 0.089);
}

.content p {
    padding: 10px;
    color: #36454f;
}
.content h1 {
    padding: 5px;
    color: #36454f;
}

.content_image{
    display: flex;
    align-items: left;
    -webkit-mask-image: -webkit-gradient(linear, left top, right top,
        from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 1)));
    border-radius: 5px;
    width: 30vmax;
}





/* Adaptive Media  */

@media (max-width: 730px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: .4fr 2.2fr 2.2fr 2.2fr 2.2fr 2.2fr 2.2fr;
        grid-template-areas:
            "navbar"
            "sidebar"
            "party_banner"
            "content1"
            "content2"
            "content3"
            "content4"
            "content5"
            "content6";
    }

    .toggle-button {
        display: flex;
    }

    /* //<---Java */
    .nav_links {
        width: 100%;
        display: none;
        z-index: 1003;
    }

    /* //<---End Java */
    .navbar {
        flex-direction: column;
        align-items: flex-start;

    }

    .navbar ul {
        padding: .75rem;
        width: 100%;
        flex-direction: column;

    }

    .nav_links li {
        text-align: center;
    }

    .nav_links.active {
        display: flex;
    }


}